.navbar {
    background-color: #85a5af;
    margin-bottom: 20px;
  }
  
  .toolbar-row {
    justify-content: space-between;
    color: white;
  }
  
  .title {
    font-size: 30px; /* Adjust the font size as needed */
    margin-right: 16px; /* Optional: Add some right margin for spacing */
  }

  .icon{ 
    color: white;
    z-index: 1;
  }

  .login-signup {
    display: flex;
    gap: 16px;
  }

  .user-data-container {
    display: flex;
    align-items: center; /* Center items vertically */
  }
  
  .user-data-container p {
    margin-right: 10px; /* Add spacing between p tag and button */
    margin-bottom: 0; /* Remove default margin */
  }
  
  .user-data-container button {
    margin-left: auto; /* Push the button to the right */
    display: flex; /* Add this line */
    align-items: center; /* Add this line */
    justify-content: center; /* Add this line */  
  }
  
  
  
