.todo-container, .in-progress-container, .done-container {
  background-color: #85a5af;
  padding: 10px;
  margin: 10px;
  min-height: 800px; /* Keep the desired height */
  width: 500px;
  /* Remove max-width property */
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  /* Remove overflow property */
}


.navbar {
  background-color: #85a5af;
  margin-bottom: 20px;
}

.toolbar-row {
  justify-content: space-between;
  color: white;
}

.login {
  display: flex;
  gap: 16px; 
}


.title {
  font-size: 30px; /* Adjust the font size as needed */
  margin-right: 16px; /* Optional: Add some right margin for spacing */
}

h4 {
    text-align: center;
}

.todo-list, .in-progress-list, .done-list {
  border: solid 1px #ccc;
  min-height: 50px; /* Adjust the min-height as needed */
  background: #85a5af;
  border-radius: 4px;
  overflow: hidden;
  display: flex; /* Use flex display */
  flex-direction: column; /* Set the flex direction to column */
}


.item-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color:white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  
  cursor: move;
  background: #85a5af;
  font-size: 14px;
  
}

.task-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.chip-container {
  margin-top: 8px; /* Adjust the margin based on your design */
}
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }