<app-navbar></app-navbar>

<div class="d-flex justify-content-center ">
  <div class="row">
    <app-display #display></app-display>

    <div class="col-md-4 mb-3">
      <div class="todo-container p-3">
        <h4>To do</h4>
        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="[todoList, inProgressList, doneList]" class="todo-list"
          (cdkDropListDropped)="drop($event)">
          <div *ngFor="let item of todo" cdkDrag (click)="displayTaskDetail(item)">
            <div *ngIf="item.Task_Title != null" class="item-box">
              <div class="task-info">
                {{ item.Task_Title }}
                <app-delete-btn class="trash" [taskLane]="'todo'" [id]=item.id (click)="$event.stopPropagation()"></app-delete-btn>
              </div>
              <div class="chip-container">
                <mat-chip class="chip">
                  {{ item.Priority }}
                </mat-chip>
              </div>
            </div>
          </div>
          <app-add-tasks-btn [taskLane]="'todo'" class="item-box"></app-add-tasks-btn>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="in-progress-container p-3">
        <h4>In Progress</h4>
        <div cdkDropList #inProgressList="cdkDropList" [cdkDropListData]="inProgress"
          [cdkDropListConnectedTo]="[todoList, inProgressList, doneList]" class="in-progress-list"
          (cdkDropListDropped)="drop($event)">
          <div *ngFor="let item of inProgress" cdkDrag (click)="displayTaskDetail(item)">
            <div *ngIf="item.Task_Title != null" class="item-box">
              <div class="task-info">
                {{ item.Task_Title}}
                <app-delete-btn class="trash" [taskLane]="'inProgress'" [id]=item.id (click)="$event.stopPropagation()"></app-delete-btn>
              </div>
              <div class="chip-container">
                <mat-chip class="chip">
                  {{ item.Priority }}
                </mat-chip>
              </div>
            </div>
          </div>
          <app-add-tasks-btn [taskLane]="'inProgress'" class="item-box"></app-add-tasks-btn>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="done-container p-3">
        <h4>Done</h4>
        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done"
          [cdkDropListConnectedTo]="[todoList, inProgressList, doneList]" class="done-list"
          (cdkDropListDropped)="drop($event)">
          <div *ngFor="let item of done" cdkDrag (click)="displayTaskDetail(item)">
            <div *ngIf="item.Task_Title != null" class="item-box">
              <div class="task-info">
                {{ item.Task_Title }}
                <app-delete-btn class="trash" [taskLane]="'done'" [id]=item.id (click)="$event.stopPropagation()"></app-delete-btn>
              </div>
              <div class="chip-container">
                <mat-chip class="chip">
                  {{ item.Priority }}
                </mat-chip>
              </div>
            </div>
          </div>
          <app-add-tasks-btn [taskLane]="'done'" class="item-box"></app-add-tasks-btn>
        </div>
      </div>
    </div>
  </div>
</div>